
 {% extends 'base.html' %}
 {% load static %}

 {% block content %}
<body >
   
     <form action="" method="GET">
   	Search your products: <input type="text" name="search_bar">
      <button>SEARCH</button>
   </form>
   <a href="http://127.0.0.1:8000/products">select your categorys</a>
   
      
      {% if user.is_authenticated %}
      <p>Welcome {{user.username}}</p>
      <form action="/shopping/Logout/" method="POST">
       {% csrf_token %}
      <input type="submit" value="Logout">
   </form>
      {% else %}
      <p>New to this site ? <a href="http://127.0.0.1:8000/shopping/New_User">SignUp here >> </a></p>
      <p>Already have an acoount? <a href="http://127.0.0.1:8000/shopping/Login">login here</a></p>

     {% endif%}
      <a href="http://127.0.0.1:8000/shopping/SpecialOffers">Go to offer zone</a>
      <div class="products">
        <a href=""><img src="{% static 'shopping/alexa.jpg' %}" alt="My image"  height="400" width="400"></a>
        <a href=""><img src="{% static 'shopping/iphonex.jpg' %}" alt="My image"  height="400" width="400"></a>
       <a href=""> <img src="{% static 'shopping/jbl.jpg' %}" alt="My image"  height="400" width="400"></a>
      </div>
</body>

<ul>



</ul>
{% endblock %}



