
 {% extends 'base.html' %}
 {% load static %}

 {% block content %}

<body >
   <div>
     <form action="" method="GET">
   	Search your products: <input type="text" name="search_bar">
      <button>SEARCH</button>
   </form>
   <a href="http://127.0.0.1:8000/products">select your categorys</a>
   
      
      {% if user.is_authenticated %}
      <p>Welcome {{user.username}}</p>
      {% for items in cart %}
      <p>{{items.cart_item}}</p>
      {% endfor %}
      <a href="http://127.0.0.1:8000/shopping/ChangePassword">ChangePassword</a>
      <form id="Logout" action="/shopping/Logout/" method="POST">
       {% csrf_token %}
      <input type="submit" value="Logout">
   </form>
      {% else %}
      <p>New to this site ? <a href="http://127.0.0.1:8000/shopping/New_User">SignUp here >> </a></p>
      <p>Already have an acoount? <a href="http://127.0.0.1:8000/shopping/Login">login here</a></p>

     {% endif %}
      <a href="http://127.0.0.1:8000/shopping/SpecialOffers">Go to offer zone</a>
    </div>
    
    {% for datas in data %}
    <div class="products">
    <a href=""><img src="{{media_url}}{{datas.items}}" height="400" width="400"></a>
    <div>
      <form id="cart" action="Cart/" method="POST" name="cartitem">
        {% csrf_token %}
      <input type="submit" value="Add To Cart">
    </form>
    </div>
    </div>
    {% endfor %}
  

    <!--
      <div class="products">
        
        <a href=""><img src="{% static 'shopping/alexa.jpg' %}" alt="My image"  height="400" width="400"></a>
        <div>
        <button type="submit">Add to Cart</button>
      </div>
      </div>
      <div class="products">
        <a href=""><img src="{% static 'shopping/iphonex.jpg' %}" alt="My image"  height="400" width="400"></a>
        <div>
        <button type="submit">Add to Cart</button>
      </div>
      </div>
      <div class="products">
       <a href=""> <img src="{% static 'shopping/jbl.jpg' %}" alt="My image"  height="400" width="400"></a>
        <div>
        <button type="submit">Add to Cart</button>
      </div>
     </div>
      <div class="products">
       <a href=""> <img src="{% static 'shopping/acer-nitro.jpg' %}" alt="My image"  height="400" width="400"></a>
        <div>
        <button type="submit">Add to Cart</button>
      </div>
     </div>
      <div class="products">
       <a href=""> <img src="{% static 'shopping/supercoat.jpg' %}" alt="My image"  height="400" width="400"></a>
        <div>
        <button type="submit">Add to Cart</button>
      </div>
     </div>
     --->
    
</body>


{% endblock %}



