<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="style.css">
	<title>homepage</title>
</head>
<body>
	<h1>Welcome to mini-amazon website</h1>
   <form action="" method="GET">
   	Search your products: <input type="text" name="search_bar"><br>
   </form>
   	<button>SEARCH</button><br>
   	<form action="New_User" method="POST">
         New to this site ? SignUp here >> <br>
   		Enter your name:<br>
   		<input type="text" name="Name"><br>
   		Enter your email:<br>
   		<input type="email" name="Email"><br>
   		Create your password:<br>
   		<input type="password" name="Password"><br>
   	   <input type="submit">
      </form>
</body>
</html>