 {% extends 'base.html' %}

 {% block content %}
<body >
   
     <p>New to this site ? SignUp here >> </p>
      <form action="New_User" method="POST">
         {% csrf_token %}
        <label for="name">Enter your name:</label> <br>
         <input type="text" name="name"><br>
         <label for="email">Enter your Email id:</label> <br>
         <input type="email" name="email"><br>
         <label for="password">Create your password:</label> <br>
         <input type="password" name="password"><br>
         <input type="submit" value="SignUp">
      </form>
      <p>Already have an acoount? <a href="http://127.0.0.1:8000/shopping/Login">login here</p>
   
</body>
{% endblock %}